<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <link href="../css/styles.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row py-3">
        <div class="col text-center">
          <button class="btn btn-outline-dark btn-sm px-3 m-1 ex-button" id="goBack">
            <i class="fas fa-arrow-left"></i>
          </button>
        </div>
        <div class="col text-center">
          <h4>Options</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col text-center m-3">
          <h6>Choose a different background color!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <div id="buttonDiv"></div>
        </div>
      </div>
    </div>

    <script src="../js/options.js"></script>
  </body>
</html>